:root {
    --primary-color: #34CB79;
    --title-color: #322153;
    --text-color: #6C6C80;
    --background-color: #2FB86E;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    background: #F0F0F5;
    -webkit-font-smoothing: antialiased;
    color: var(--text-color);
}

a {
    text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--title-color);
    font-family: Ubuntu, sans-serif;
}

